.baseTextBox{
	background-color: rgb(226,230,232);
	padding: 24px;
	margin-left: 15px;
	margin-right: 300px;
	border: 1px solid black;
}

.textColorHead{
	color:rgb(91,163,199);
}
h2{
	text-align: center;
}
.sidetextBox{
	background-color: rgb(226,230,232);
	margin-left: auto;
	margin-top: -450px;
	margin-right: 2%;
	padding: 20px;
	border:1px solid black;
	width: 225px;
	height: 400px;

}
.sideTextBoxProp{
	list-style-type:circle;
}

